@model WebStore.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
<body>

    <h3>Сотрудник №@Model.id</h3>>
    <p>@Model.FirstName</p>>
    <hr/>
    <a href="~/Home/Index">Основное представление</a>>
</body>
</html>
